@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Active Project";
}

<h1>Active Project</h1>

<div class="H3">Are you sure you want set this as an Active Project?</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cre_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cre_user)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cre_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cre_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd class="display" >
            @Html.DisplayFor(model => model.body)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.attachments)
        @Html.HiddenFor(model => model.statusCode)
        @Html.HiddenFor(model => model.denialReason)
        @Html.HiddenFor(model => model.title)
        @Html.HiddenFor(model => model.body)
        @Html.HiddenFor(model => model.cre_date)
        @Html.HiddenFor(model => model.cre_user)
        @Html.HiddenFor(model => model.mod_date)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.commentsNumber)

        <div class="form-actions no-color btn-group">
            <input type="submit" value="Active Project" class="btn btn-default btn-sm" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
