@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Approval";
}

<h1>Approval</h1>

@using (Html.BeginForm("Approval", "Ideas", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-9">
                <span class="H3" style="display: inline">Title: </span>@Html.DisplayFor(model => model.title)
                <div class="H5"><span class="glyphicon glyphicon-time"></span> Posted by @Html.DisplayFor(model => model.cre_user) on @Html.DisplayFor(model => model.cre_date)</div>
                <div class="H5">Status: <span class="glyphicon glyphicon-transfer"></span> @Html.DisplayFor(model => model.statusCode)</div>
                <div class="H4"><span class="label label-success">Description:</span></div>
                <div class="display">@Html.DisplayFor(model => model.body)</div>

                <br />

                <!--Call the partial view for displaying the attachments-->
                @Html.Action("Display", "Attachment", new { ideaID = Model.ID })

            </div>
        </div>
        <br>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.title)
        @Html.HiddenFor(model => model.body)
        @Html.HiddenFor(model => model.cre_date)
        @Html.HiddenFor(model => model.mod_date)
        @Html.HiddenFor(model => model.cre_user)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.commentsNumber)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <b>Accept or Deny Idea:</b> <br />
        <label class="textBoxText">
            @Html.RadioButtonFor(model => model.statusCode, "Accepted", new { id = "statusCode_Accepted" })
            Accept
        </label>
        <br />
        <label class="textBoxText">
            @Html.RadioButtonFor(model => model.statusCode, "Denied", new { id = "statusCode_Denied" })
            Deny
        </label>
        <br />
        <div class="form-group" id="DenialReason">
            <div class="H4">Reason for Denial</div>
            <div class="@*col-md-10*@ multiline-field">
                @Html.EditorFor(model => model.denialReason)
                <span class="field-validation-valid text-danger" data-valmsg-for="denialReason" data-valmsg-replace="true"></span>
            </div>
        </div>
        <br />
        <div class="btn-group @*col-md-10*@">
            <input type="submit" value="Save" class="btn btn-default btn-sm" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
}
<br>
<br>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            $("#DenialReason").hide();

            $('#statusCode_Denied').click(function () {
                if (this.checked == true) {
                    $("#DenialReason").show();
                    document.getElementById("denialReason").required = true;
                }
                else {
                    $("#statusCode_Denied").hide();
                }

            })

            $('#statusCode_Accepted').click(function () {
                if (this.checked == true) {
                    $("#DenialReason").hide();
                    document.getElementById("denialReason").required = false;
                }
                else {
                    $("#statusCode_Accepted").hide();
                }
            })
        });
    </script>
}

