@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Approval";
}

<h2>Approval</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cre_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cre_user)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cre_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cre_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusCode)
        </dd>

        <dt class="@Model.statusCode">
            @Html.DisplayNameFor(model => model.denialReason)
        </dt>

        <dd class="@Model.statusCode">
            @Html.DisplayFor(model => model.denialReason)
        </dd>

    </dl>
 @*
     @{
         foreach (var code in Model.statusCode)
         {
            <div>
                @Html.RadioButtonFor(model => model.statusCode, new { id = "Approve" })
                @Html.RadioButtonFor(model => model.statusCode, new { id = "Deny" })
                @Html.Label("Choice: " + code)
            </div>
         }
    }
    <input type="submit" value"Submit" />
*@





        
        @*  @using (Html.BeginForm("Index", "Ideas", FormMethod.Post)) *@
            @using (Html.BeginForm("Approval", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @*Html.AntiForgeryToken()*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-horizontal">
            <div class="form-group"> 
                @*@Html.LabelFor(model => model.statusCode, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <b>Approve or Deny Idea:</b> <br />
                @Html.RadioButtonFor(model => model.statusCode, "Approved") <text> Deny</text> <br />
                @Html.RadioButtonFor(model => model.statusCode, "Denied") <text> Deny</text>    

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*
                @Html.EditorFor(model => model.denialReason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.denialReason, "", new { @class = "text-danger" })
                *@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
                </div>


        }


    @*
    @using (Html.BeginForm("Index", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
<!--           <h4>Idea</h4>
            <hr />
-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.denialReason)

            <div class="form-group">
                @Html.LabelFor(model => model.denialReason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.denialReason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.denialReason, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
         </div>
    }
*@  
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
