@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Create";
}

<h2>Create Idea</h2>
<hr>


@using (Html.BeginForm("Create", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <div id="title-error">@Html.Action(actionName: "TempMessage", controllerName: "Message")</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="name">Title</label>
            <div class="col-md-10">
                <input class="form-control text-box" id="title" name="title" value="@Html.DisplayFor(model => model.title)" type="text">
                <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span>
                <div class="error-message">@Html.ValidationMessageFor(model => model.title)</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="description">Description</label>
            <div class="col-md-10">
                <textarea style="border: 1px solid #ccc;border-radius: 4px;" id="body" name="body" rows="5" cols="75" value="" type="text">@Html.DisplayFor(model => model.body)</textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="body" data-valmsg-replace="true"></span>
                <br><div class="error-message">@Html.ValidationMessageFor(model => model.body)</div>
            </div>
        </div>

        <!--This is probably better done in the controller-->
        <input id="statusCode" name="statusCode" value="Submitted" type="hidden">

        <div class="form-group">
            @Html.Label("File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="files" name="files" value="" multiple="multiple" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Create" class="btn btn-default" type="submit">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
