@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Details";
}

@{
    var statusIcon = " ";
    if (Model.statusCode == "Submitted")
    {
        statusIcon = "glyphicon glyphicon-transfer";
    }
    if (Model.statusCode == "Denied")
    {
        statusIcon = "glyphicon glyphicon-remove";
    }
    if (Model.statusCode == "Added")
    {
        statusIcon = "glyphicon glyphicon-ok";
    }
    if (Model.statusCode == "Archived")
    {
        statusIcon = "glyphicon glyphicon-saved";
    }

}
<h1>Details</h1>
<hr>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-9">
            <h2>@Html.DisplayFor(model => model.title)</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Posted by @Html.DisplayFor(model => model.cre_user) on @Html.DisplayFor(model => model.cre_date)</h5>
            <h5><span class="glyphicon glyphicon-time"></span> Last modified on @Html.DisplayFor(model => model.mod_date)</h5>
            <h5>status: <span class="@statusIcon"></span> @Html.DisplayFor(model => model.statusCode)</h5>
            <h5><span class="label label-success">Description:</span></h5>
            @Html.DisplayFor(model => model.body)

            <!--Call the partial view for displaying the attachments-->
            @Html.Action("Display", "Attachment", new { ideaID = Model.ID })

            <br>
            @if (Model.statusCode == "Denied")
            {
                <h5>Reason for Denial:</h5>
                @Html.DisplayFor(model => model.denialReason)
            }
        </div>
    </div>
    <br>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
