@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusCode)
        </dd>

        <dt class="@Model.statusCode">
            @Html.DisplayNameFor(model => model.denialReason)
        </dt>

        <dd class="@Model.statusCode">
            @Html.DisplayFor(model => model.denialReason)
        </dd>

    </dl>

    <h2>Files</h2>
    <table>
        <tr>
            <th>File Name</th>
            <th>Link</th>
        </tr>
                @foreach (var file in ViewBag.files as FileInfo[])
                {
                    var filePath = string.Format("{0}\\{1}", ViewBag.path, file.Name);
                    <tr>
                        <td>
                            @file.Name
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Download", new { filepath = filePath, fileName = file.Name }, new { @target = "_blank" })
                        </td>
                    </tr>
                }
</table>



    <br /><br />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
