@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Details";
}

@{
    var statusIcon = " ";
    if (Model.statusCode == "Submitted")
    {
        statusIcon = "glyphicon glyphicon-transfer";
    }
    if (Model.statusCode == "Denied")
    {
        statusIcon = "glyphicon glyphicon-remove";
    }
    if (Model.statusCode == "Accepted")
    {
        statusIcon = "glyphicon glyphicon-ok";
    }
    if (Model.statusCode == "Archived")
    {
        statusIcon = "glyphicon glyphicon-saved";
    }
    if (Model.statusCode == "Active Project")
    {
        statusIcon = "glyphicon glyphicon-briefcase";
    }

}
<h1>Details</h1>
<hr>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-9">
            <div class="H2">@Html.DisplayFor(model => model.title)</div>
            <div class="H5"><span class="glyphicon glyphicon-time"></span> Posted by @Html.DisplayFor(model => model.cre_user) on @Html.DisplayFor(model => model.cre_date)</div>
            <div class="H5"><span class="glyphicon glyphicon-time"></span> Last modified on @Html.DisplayFor(model => model.mod_date)</div>
            <div class="H5">Status: <span class="@statusIcon"></span> @Html.DisplayFor(model => model.statusCode)</div>
            <div class="H5"><span class="label label-success">Description:</span></div>
            <div class="display">@Html.DisplayFor(model => model.body)</div>
            <br />
            <br />
            <!--Call the partial view for displaying the attachments-->
            @Html.Action("Display", "Attachment", new { ideaID = Model.ID })
            <br>
            @if (Model.statusCode == "Denied")
            {
                <h5>Reason for Denial:</h5>
                @Html.DisplayFor(model => model.denialReason)
            }
        </div>
    </div>
    <br>
    <p class="btn-group" ">
        @if (Model.cre_user == ViewBag.currentUser)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })
        }
        @Html.ActionLink("Comments", "Index", "Comments", Model, new { @class = "btn btn-default btn-sm" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
    </p>
</div>