@model IdeaSite.Models.Idea

@{
	ViewBag.Title = "Edit";
}

<h2>Edit Page</h2>
<hr>


@using (Html.BeginForm("Edit", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ID)
		@Html.HiddenFor(model => model.cre_date)
		@Html.HiddenFor(model => model.cre_user)
        @Html.HiddenFor(model => model.denialReason)

		<div class="form-group">
			@Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<textarea style="border: 1px solid #ccc;border-radius: 4px;" id="body" name="body" rows="5" cols="75" value="" type="text">@Html.DisplayFor(model => model.body)</textarea>
				<span class="field-validation-valid text-danger" data-valmsg-for="body" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group @Model.statusCode">
			@Html.LabelFor(model => model.denialReason, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<textarea style="border: 1px solid #ccc;border-radius: 4px;" id="body" name="body" rows="5" cols="75" value="" type="text" readonly>@Html.DisplayFor(model => model.denialReason)</textarea>
				<span class="field-validation-valid text-danger" data-valmsg-for="denialReason" data-valmsg-replace="true"></span>
			</div>
		</div>

        <!--<table>
            <tr><th><span class="glyphicon glyphicon-paperclip"></span> attachments:</th></tr>
            @*@foreach (var file in ViewBag.files as FileInfo[])
            {
                var filePath = string.Format("{0}\\{1}", ViewBag.path, file.Name);

                <tr>
                    <td>@file.Name  </td>
                    <td><span class="glyphicon glyphicon-floppy-save"></span> @Html.ActionLink("Download", "Download", new { filepath = filePath, fileName = file.Name }, new { @target = "_blank" })</td>
                </tr>}*@
        </table>-->

		<div class="form-group">
			@Html.Label("Attachments", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="file" id="files" name="files" value="" multiple="multiple" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
