@model IdeaSite.Models.Idea

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Page</h2>
<hr>


@using (Html.BeginForm("Edit", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.cre_date)
        @Html.HiddenFor(model => model.cre_user)
        @Html.HiddenFor(model => model.statusCode)

        <div class="form-group">
            <div class="col-md-10">
                <!--Display an error message if the submitted title is not unique.-->
                @Html.Action(actionName: "TempMessage", controllerName: "Message")
            </div>
        </div>

        <!--Edit box for the title of the idea-->
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Edit box for the body of the idea-->
        <div class="form-group">
            @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea style="border: 1px solid #ccc;border-radius: 4px;" id="body" name="body" rows="5" cols="75" value="" type="text">@Html.DisplayFor(model => model.body)</textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="body" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!--Display box for the denialReason. This only appears if the status is set to denied.-->
        <div class="form-group @Model.statusCode">
            @Html.LabelFor(model => model.denialReason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea style="border: 1px solid #ccc;border-radius: 4px;" id="body" name="body" rows="5" cols="75" value="" type="text" readonly>@Html.DisplayFor(model => model.denialReason)</textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="denialReason" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!--This table is for displaying any attachments associated with an idea.
            It allows the user to download and/or delete current attachments-->
        <table>
            <tr><th><span class="glyphicon glyphicon-paperclip"></span> attachments:</th></tr>
            @if (ViewBag.attachments != null)
            {
                foreach (var attachment in ViewBag.attachments as FileInfo[])
                {
                    var attachmentPath = string.Format("{0}\\{1}", ViewBag.path, attachment.Name);

                    <tr>
                        <td></td>
                        <td class="right-col" />
                        <td class="right-col"><h5><b>Delete</b></h5></td>
                    </tr>
                    <tr>
                        <td>@attachment.Name  </td>
                        <td class="right-col"><span class="glyphicon glyphicon-floppy-save"></span> @Html.ActionLink("Download", "Download", new { attachmentpath = attachmentPath, attachmentName = attachment.Name }, new { @target = "_blank" })</td>
                        <td class="right-col">check boxes here</td>
                    </tr>
                }
            }
        </table>
        <br>

        <!--Button used to upload any new attachments-->
        <div class="form-group">
            @Html.Label("", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="files" name="files" value="" multiple="multiple" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
