<!-- This page seems a little confusing. I've tried to make it easier on the eyes and order the information in
    a way that is more natural.-->

@using IdeaSite.Models;
@model IEnumerable<IdeaSite.Models.Idea>

@{
    ViewBag.Title = "Index";
}

<!--We should probably come up with a better title-->
<h1>Great Ideas</h1>
<br />

<h3>How You Can Contribute</h3>
<!--An unwanted newline is printed here-->
​<p>
    If you have an idea to improve current processes or believe a process could be improved post it here!
</p>
    

<h3>Before submitting Your Idea...</h3>

<p>
    Please remember to search first to ensure your idea has not already been submitted!
    <br />
    The filter page enables you to sort or filter ideas by name, date, or title.
    <br />
    Approved submissions are listed on the Approved Ideas and Discussions page.
    <!--<br />
    Click the title below to comment on an idea.
    <br /><br /> -->
    <br />
    &nbsp; &nbsp; <font size="2"><b>Note: New discussions will not be displayed below until they are approved.</b></font>
    <br /><br />

    <h3>Still can't find what you were looking for?</h3>
    <b>Create your idea.</b>
    <br />
    Click the "Create New" link below to begin.
    <br /> <br />
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th></th>
    </tr>

    @foreach (Idea idea in @Model)
    {
        <tr>
            <td>
                @Html.Display(idea.name)
            </td>
            <td>
                @Html.Display(idea.description)
            </td>
            <td>
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = idea.ideaID }) |
                @Html.ActionLink("Details", "Details", new { id = idea.ideaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = idea.ideaID }) |
                @Html.ActionLink("Add Comment", "Create", "Comments", idea, null) |
                @Html.ActionLink("See Comments", "Index", "Comments", idea, null)
            </td>
        </tr>
    }

</table>

<p> <!--Made the Florida public records law more of a footnote-->
    <font size="1">
    <b>
        Please note that Florida has a broad public records law (Chapter 119, Florida Statutes).
        Most written communications to or from state employees are public records obtainable by request.
    </b>
</p>