@model IEnumerable<IdeaSite.Models.Idea>
@{
    ViewBag.Title = "Ideas";
}

<p>
    @using (Html.BeginForm("Index", "Ideas", FormMethod.Get))
    {
        <b>Search By:</b>
        @Html.RadioButton("searchBy", "Title", true) <text>Title</text>
        @Html.RadioButton("searchBy", "Description") <text>Description</text><br />
        <b>Filter By:</b>
        @Html.RadioButton("sortByStatus", "All", true) <text>  All  </text>
        @Html.RadioButton("sortByStatus", "Submitted") <text>  Submitted  </text>
        @Html.RadioButton("sortByStatus", "Approved") <text>  Approved  </text>
        @Html.RadioButton("sortByStatus", "Denied") <text>  Denied  </text><br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>



<!-- Table for displaying approved ideas//////////////////// -->

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.title)</th>
        <th>Author</th>
        <th>@Html.DisplayNameFor(model => model.cre_date)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td>@Html.DisplayFor(modelItem => item.cre_user)</td>
            <td>@Html.DisplayFor(modelItem => item.cre_date)</td>
            <td class="btn-group">
                <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.ID })</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("View Comments", "Index", "Comments", item, null)</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("approval", "Approval", new { id = item.ID })</button>
            </td>
        </tr>

    }
</table>
<p><b>Click below to submit new Idea</b></p>
<p><button type="button" class="btn btn-default">@Html.ActionLink("Create New", "Create")</button></p>