@model IdeaSite.Models.Comment

@{
    ViewBag.Title = "Details"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Comment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ideaName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ideaName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.bodyOfComment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bodyOfComment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.creationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.creationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ownerID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ownerID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ideaID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
