@model IdeaSite.Models.Comment

@{
	ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	
    <h1>Edit</h1>
	
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		
		<div class="form-horizontal">
			<div class="H4">Comment</div>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ideaID) 
			@Html.HiddenFor(model => model.ID)
			@Html.HiddenFor(model => model.cre_user)
			@Html.HiddenFor(model => model.cre_date)   
			   

			<div class="form-group">
				@Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10 multiline-field">
					@Html.EditorFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10 btn-group">
					<input type="submit" value="Save" class="btn btn-default btn-sm" />
                    @Html.ActionLink("Back to List", "Index", "Comments", new { id = Model.ideaID }, new { @class = "btn btn-default btn-sm" })
				</div>
			</div>
		</div>
	}
	
	<div>
	</div>
</body>
</html>
