@model IPagedList<IdeaSite.Models.Comment>

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "IdeaComments";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-md-9">
            <div class="H3" style="display: inline">Title: </div> @ViewBag.idea.title
            <div class="H5"><span class="glyphicon glyphicon-time"></span> Posted by @ViewBag.idea.cre_user on @ViewBag.idea.cre_date</div>
            <div class="H4"><span class="label label-success">Description:</span></div>
            <div class="display">@ViewBag.idea.body</div>
        </div>
    </div>
</div>
<hr />
<h1>Comments</h1>
<p><b>Click below to create a new comment</b></p>
@Html.ActionLink("Create New", "Create", "Comments", new { id = ViewBag.idea.ID }, new { @class = "btn btn-default btn-sm" })

@foreach (var item in Model)
{
    <hr>
    <div class="container-fluid">
        <div class="row content">
            <div class="H4">Created by @Html.DisplayFor(modelItem => item.cre_user) on @Html.DisplayFor(modelItem => item.cre_date)</div>
            <div>@Html.DisplayFor(modelItem => item.body)</div>
            <br />
            <div class="btn-group">
                @if (ViewBag.isAdmin || item.cre_user == ViewBag.currentUser)
                {
                    @Html.ActionLink("Delete", "Delete", "Comments", new { item.ID }, new { @class = "btn btn-default btn-sm" })
                }
                @if (item.cre_user == ViewBag.currentUser)
                {
                    @Html.ActionLink("Edit", "Edit", "Comments", new { item.ID }, new { @class = "btn btn-default btn-sm" })
                }
            </div>
        </div>
    </div>
    <hr>
}
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfComments, page => Url.Action("Index", new { page, id = ViewBag.idea.ID }))

<p><b>Click below to create a new comment</b></p>
<p class="btn-group">
    @Html.ActionLink("Create New", "Create", "Comments", new { id = ViewBag.idea.ID }, new { @class = "btn btn-default btn-sm" })
    @Html.ActionLink("Back to List", "Index", "Ideas", null, new { @class = "btn btn-default btn-sm" })
<p />