@using IdeaSite.Models

@model IEnumerable<IdeaSite.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


<span>This should print the ideaID: @ViewBag.idea.ideaID</span>


    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ownerDescription)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ideaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bodyOfComment)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.creationDate)
            </td>
            <th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ownerDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ideaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bodyOfComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Comments", new { id=item.ideaID }, null) |
                @Html.ActionLink("Details", "Details", new { id=item.ideaID }) |
                @Html.ActionLink("Delete", "Delete", "Comments", new { id=item.ideaID }, null)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
